body{
  background-color: gray;
  color: ivory;
}

a{
  /* display: flex;
  flex-direction: row; */
  color: ivory;
}

nav{
  margin: 1%;
  background-color: rgb(36, 35, 35);
}

/* h1{
  padding-bottom: 10%;
} */

img{
  width: 20%;
}

h2{
  text-align: center;
  font-size: 250%;
  margin: 5%;
}

/* h3{
   background-color: rgb(36, 35, 35) ; 
} */
main{
  background-color: rgb(36, 35, 35);
  margin: 7%;
}

/* p{
  display: flex;
} */

/* header{
  display: flex;
} */

#home-page-text{
  margin: 5%;
  padding: 5%;
}

.main-text{
  text-align: center;
  font-size: 150%;
  border-radius: 15%;
}

.link-bar{
  background-color: rgb(33, 32, 32);
  height: 10%;
  margin: 0%;
  padding: 1%;
  border-radius: 5%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: large;
  width: 20%;
  margin: 7%;
  
}

.left {
  /* display: flex; */
  align-items: left; 
  /* flex-direction: column; */
  text-align: center; 
}

.left img {
  margin-right: 10px;
}


#center {
  display: flex;
  align-items: center; 
  flex-direction: column-reverse;
  text-align: center; 
}
/*
.center img {
  margin-left: 10px;
} */

/* .up{
  display: flex;
  padding-bottom: 1%;
}

.down{
  display: flex;
  padding-bottom: 1%;
} */